#kaocha/v1
{:plugins                [:kaocha.plugin/hooks
                          :philoskim.kaocha/test-ns-hook
                          ]
 :kaocha.hooks/post-load [theophilusx.auth.hooks/init-system]
 ;; :tests                  [{:id                    :theophilusx.auth.db-test
 ;;                           :type                  :kaocha.type/clojure.test
 ;;                           :plugins               [:kaocha.plugin/hooks]
 ;;                           :kaocha.hooks/pre-test [theophilusx.auth.hooks/test-setup]}]
 }

