{:theophilusx.auth.routes/site
 {:name         "Default Site Name"
  :domain-name  "localhost:3000"
  :web-protocol "http://"
  :api-prefix   "/api"}
 :theophilusx.auth.core/web-server
 {:port  3000
  :join? false
  :site  #ig/ref :theophilusx.auth.routes/site}
 :theophilusx.auth.db/data-source
 {:dbtype      "postgres"
  :subprotocol "postgresql"
  :subname     "postgres"}
 :theophilusx.auth.mail/post
 {:env :dev}}

