{:theophilusx.auth.log/logger
 {:log-file "auth-dev.log"}
 :theophilusx.auth.routes/site
 {:name "Default Site Name"
  :domain-name "localhost"}
 :theophilusx.auth.core/web-server
 {:port 3000
  :join? false
  :site #ig/ref :theophilusx.auth.routes/site}
 :theophilusx.auth.db/data-source
 {:dbtype "postgres"
  :subprotocol "postgresql"
  :subname "postgres"
  :dbname "devel"}
 :theophilusx.auth.mail/post
 {:smtp-server "smtp.gmail.com"
  :smtp-port 587
  :smtp-tls true
  :env :dev}}
