{:min-level [["theophilusx.*" :info]
             ["user" :info]
             [#{"*"} :error]]
 :appenders {:println (println-appender {:stream :auto})
             :spit    (spit-appender {:fname "/tmp/clj-auth.log"})}}


